body {
    background-color: $divider-color;
    font-family: $ff-primary;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
   // grid-template-rows:  minmax(150px, auto);
    grid-template-rows: auto;
    row-gap: 20px;
    justify-items: center;
    margin: 0 auto;
}
.headerContainer {
    grid-column: 1 / 2;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $primary-color-light;
    &__icons {
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        &-logo {
            width: 70px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }

    }
    &__login {
        width: 80%;
        max-width: 300px;
        min-height: 110px;
        //display: none;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        top: 80px;
        right: 0;
        z-index: $zIndex_LoginContainer;
        form{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            label{
                @extend %form
                
            }
        }
        
       &-sendBtn {
        width: 70%;
        height: 40px;
        color: $primary-color-text;
        background-color:$primary-text-color ;
        border: none;
        border-radius: 5px;
        margin: 10px;
        align-self: center;
       }
       &-sendBtn:hover{
           cursor: pointer;
           background-color: $primary-color-light;
           transition: 700ms;
       }
       &-rsLogin{
           width: 100%;
           margin-top: 10px;
           display: inline-flex;
           align-items: center;
           span {
               color: $primary-color-light;
               font-size: $ff-small;
           }
           i {
               margin-left: 15px;
           }
           i:hover{
               cursor: pointer;
               transform: scale(1.1);
               transition: 200ms;
           }
       }
       &-logged {
        width: 50%;
        max-width: 300px;
        min-height: 110px;
        //display: none;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        background-color: #607D8B;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        top: 80px;
        right: 0;
        z-index: $zIndex_LoginContainer;
           &__user{
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-end;
               margin: 10px;
           }
           img {
               width: 50px;
               border-radius: 50%;
           }
           span, a {
               margin-left: 10px;
               color: $primary-color-light;
               font-size: $ff-normal;
               text-decoration: none;
           }

           
       }
          
    }
    
}
.formSection {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 100%;
    &__form {
        box-shadow: 0 0 2px 0px;
        @extend %form;
        border: none;
        width: 80%;
        max-width: 350px;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        //background-color: $accent-color;
        border-radius: 5px;
        align-items: center;
        label{
            display: flex;
            width: 100%;
            height: 40px;
            justify-content: flex-start;
            margin-bottom: 20px;
            align-items: center;
            span {
                width: 20%;
                font-size: $ff-normal;
                color: $primary-text-color;
                padding: 5px;
                margin-right: 15px;
            }
            input[type=checkbox] {
                width: 20px;
                height: 20px;
                cursor: pointer;
                position: relative;
                left: 0;
            }
            input[type=date]{
                width: 100%;
            }
        }
        &-sendBtn {
            width: 80%;
            height: 40px;
            color: $primary-color-text;
            background-color:$primary-text-color ;
            border: none;
            border-radius: 5px;
        }
        &-sendBtn:hover {
            cursor: pointer;
        }
        
    }
}
.dataSection{
    display: grid;
    margin: 50px auto;
    width: 90%;
    max-width: 1440px;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    grid-auto-rows: 150px;
    gap: 20px;
    &__cardsContainer{
        display: grid;
        grid-template-columns: minmax(200px,1fr);
        border: 1px solid $divider-color;
        background-color: $primary-color-light;
        &-user{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            i { 
                      
                @extend %user-icon;
            }    
        }
        &-mascota {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            i {
                @extend %mascota-icon;
            }
        }
        &-fecha {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            i {
                
                @extend %fecha-icon;
            }
        }
        &-dosis {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            i {
                @extend %dosis-icon
            }
        }
    }
}


.headerHamburger {
    display: inline-block;
    cursor: pointer;
  }
  
