/* ---------------------FONTS--------------------- */
    /* Size */
    $ff-small: 1.2rem;
    $ff-normal: 1.6rem;
    $ff-big: 2rem;
    /* Size */


/* ---------------------/FONTS--------------------- */


/* ---------------------COLORS--------------------- */




/* ---------------------/COLORS--------------------- */